{{> Style.hbs}}
{{> Header.hbs}}
{{> Sidebar.hbs}}
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<div class="w3-container" id="contact" style="margin-top:75px">

    <h1 class="w3-jumbo"><b>Contact Us</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Contact us for any queries, and a member of Scotbank will be in contact</p>
    <form action="/action_page.php" target="_blank">
        <div class="w3-section">
            <label>Name</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
        </div>
        <div class="w3-section">
            <label>Email</label>
            <input class="w3-input w3-border" type="text" name="Email" required>
        </div>
        <div class="w3-section">
            <label>Message</label>
            <input class="w3-input w3-border" type="text" name="Message" required>
        </div>
        <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
    </form>
    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

    </script>
</div>
</div>
