<!-- Header remains unchanged -->
{{>Style.hbs}}
<header class="w3-container w3-top w3-hide-large w3-red w3-small" style="position: fixed; left: 0; top: 0; padding: 10px;">
    <a href="javascript:void(0)" class="w3-button w3-red" onclick="w3_open()">☰</a>
</header>

<div style="background-color: #f2f2f2; padding: 20px; position: relative;">
    <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">

        <div>
            <h1 class="w3-jumbo" style="margin: 0;"><b>Scotbank</b></h1>
            <p style="font-size: 24px;">Your Financial Partner For Life</p>
        </div>

        {{#userLoggedIn}}
            <div style="margin-top: 20px;">
                <a href="http://localhost:8080/bank/logout" class="login-button" style="background-color: red; color: white; padding: 10px 20px; border: 2px solid black; border-radius: 5px; cursor: pointer;">Logout</a>
            </div>
        {{^}}
            <div style="margin-top: 20px; display: flex; gap: 10px;">
                <a href="http://localhost:8080/bank/Signup" class="white-button" style="background-color: white; color: red; padding: 10px 20px; border: 2px solid red; border-radius: 5px; cursor: pointer;">Signup</a>
                <a href="http://localhost:8080/bank/Login" class="login-button" style="background-color: red; color: white; padding: 10px 20px; border: 2px solid black; border-radius: 5px; cursor: pointer;">Secure Login</a>
            </div>
        {{/userLoggedIn}}
    </div>

    <div style="position: absolute; bottom: 0; left: 0; width: 100%; border-bottom: 3px solid black;"></div>

    <div style="position: absolute; top: 50%; transform: translateY(-50%); left: 10px;">
        <img src="/assets/scotbank.png" alt="Scotbank" style="max-height: 100px;">
    </div>

    <div class="award-container" style="position: absolute; top: 50%; transform: translateY(-50%); right: 20px;">
        <img src="/assets/award1.png" alt="Award" class="w3-round-large" style="max-height: 200px;">
    </div>

    <style>

        @media screen and (max-width: 1468px) {
            .award-container {
                display: none;
            }
        }
    </style>


</div>

<!-- Background -->
<div class="background">
    <img src="/assets/background3.jpg">
</div>

<style>
    .background {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1; /* Ensure the background is behind the content */
        opacity: 0.1; /* Adjust the opacity value as needed */
        background-image: url('/assets/background3.jpg'); /* Set the background image */
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        width: 100vw; /* Set width to cover viewport width */
        height: 100vh; /* Set height to cover viewport height */
    }

    .w3-main {
        position: relative;
    }
</style>
