<!DOCTYPE html>
<html lang="en">

<head>
    {{> Style.hbs}}
</head>

<body>
{{> Sidebar.hbs }}
{{> Header.hbs}}

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>

<!-- Top Container -->


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px;margin-bottom: 40px; margin-top: 0;">

    <h1 class="w3-xxxlarge w3-text-red"><b>   </b></h1>
    <h1 class="w3-jumbo"><b>What We Offer</b></h1>

    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p style="font-size: 22px;"> Welcome to Scotbank, your trusted financial partner in Scotland's central belt
        since the 1970s. We blend tradition with innovation, now offering digital banking services to better serve
        you, our valued customers.. At our bank, we provide a wide range of financial services to meet your needs.
        From basic checking and savings accounts to specialized lending options like mortgages and personal loans, we
        offer convenient digital banking solutions and personalized support from our experienced team. Whether
        you're saving for the future, managing your day-to-day finances, or pursuing your business goals, we're here
        to help you every step of the way.</p>

    <h3 class="w3-xxxlarge w3-text-red"><b>   </b></h3>
    <h3 class="w3-jumbo"><b>Our Services</b></h3>

    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div style="font-size: 22px;">
    <p>- Everyday Accounts</p>
    <p>- Savings Account</p>
    <p> - Instant Withdrawals</p>
    <p> - Instant Deposit</p>
    <p> - Money Transfer</p>
    </div>

    <h2 class="w3-xxxlarge w3-text-red"><b>   </b></h2>
    <h2 class="w3-jumbo"><b>Our Mission</b></h2>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p style="font-size: 22px;"> At Scotbank, our mission is simple: to provide accessible, innovative, and reliable financial services tailored to the needs of Scotland's central belt. We blend tradition with innovation to empower individuals and businesses, fostering trust, transparency, and mutual respect in every interaction. Our commitment to excellence, integrity, and social responsibility drives us to be more than just a bank; we're a trusted partner dedicated to building a brighter financial future for our community</p>
</div>

<!-- Photo grid (modal) -->




<!-- JavaScript and any additional scripts -->
<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }
</script>

</body>

</html>
