<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
        body {font-size:16px;}
        .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
        .w3-half img:hover{opacity:1}
        .accountPage {
            align-items: center;
            justify-content: center;
            display: flex;
        }
        .account {
            margin: 4em;
            width: 600px;
            height: 350px;
            border-radius: 30px;
            padding: 6em;
            background-color: red ;
            color: white;
        }

        @media only screen and (max-width: 768px) {
            .top-container {
                flex-direction: column;
                align-items: flex-start;
                padding: 20px;
                position: static;
                width: auto;
                left: auto;
                right: auto;
            }
            .top-container h1 {
                margin-bottom: 20px;
            }
            .top-container div {
                margin-top: 20px;
                margin-right: 0;
            }
            .login-button {
                margin-top: 10px; /* Add margin to create space between the buttons */
            }
        }



    </style>
</head>
