{{> Style.hbs}}
{{> Header.hbs}}
{{> Sidebar.hbs}}


<div class="w3-container" id="Spending Summary" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Spending Summary.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>View a detailed summary of your spending habits</p>


</div>