{{> Style.hbs}}
{{> Header.hbs}}
{{> Sidebar.hbs}}

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-light-grey w3-container w3-padding-32 top-container" style="border-bottom: 5px solid black; display: flex; justify-content: space-between; align-items: center;">
    <h1 class="w3-jumbo" style="margin: 0;"><b> Scotbank</b></h1>
    <div style="margin-right: 20px;">
        <a href="http://localhost:8080/bank/logout" class="login-button" style="background-color: red; color: white; padding: 10px 50px; border: 2px solid black; border-radius: 5px; cursor: pointer;">Logout</a>
    </div>
</div>
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<div class="w3-container" id="Spending Summary" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Spending Summary.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>View a detailed summary of your spending habits</p>



    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";

        }
    </script>

</div>
</div>