<div class="w3-container" id="Transactions" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Transactions.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>View your current balance and account details</p>


</div>